.btn-login{
  color: #B255DD !important;
  /* color: -webkit-linear-gradient(#94bbe9, #eeaeca); */
  border-radius: 15px !important;
  box-shadow: none !important;
  margin: 20px !important;
  width: 90px;
  font-size: 12px !important;
}

.btn-login:hover{
  background-color: #B255DD !important;
  color:#fff !important;
  border-radius: 15px;
  box-shadow: none;
}

.btn-login:focus{
  outline: none;
}

.button__form{
  border-radius: '10px';
  width: 100%;
  margin-top: 35px !important;
  color:#fff !important;
  padding: 12px !important;
  background-color:#b255dd !important;
}

.button__form:hover{
  background-color: #c177e4 !important;
}

.community-button-toggle-group{
  margin: 20px;
}

.community-button-toggle{
  background-color:#b255dd !important;
  border-radius: 15px !important;
}

.btn-community{
  color: #B255DD !important;
  border-radius: 15px !important;
  box-shadow: none !important;
  width: 90px;
  font-size: 8px !important;
}

.btn-community:focus{
  outline: none;
}