.col-1-dashboard{
  display: block;
}

.col-2-dashboard{
  display: block;
}

.row-1-community{
  display: flex;
}

.row-card-catergories{
  display: flex;
}

.MuiPaper-root{
  margin-top: 0px;
}

.table-header-cell-row {
  border-bottom: 5px solid #25294A !important;
  background-color: #2D325A !important;
  color: #ccc !important;
  font-weight: 600 !important;
}

.table-cell-row{
  border-bottom: 1px solid #30355F !important;
  color: #8F8F8F !important;
}

.MuiTable-root{
  border-collapse: separate;
  border-spacing: 0 10px !important;
  margin-top: -10px;
}
