.nav-link{
  color: #fff;
  padding: 1rem 3rem;
}

.nav-link:hover{
  color: #fff;
  /* background-color:#3E4451; */
}

.nav-item:hover{
  border-radius: 15px;
  margin: 0px 10px 0px 10px;
  background-color: #3E4451;
}

.container-nav {
  background-color: #2D325A;
}

.nav__list{
  list-style-type: none;
  display: flex;
  padding: 20px;
  margin: 0px auto;
  width: 90%;
}

.nav__list-item a{
  color: #ddd;
  text-decoration: none;
	margin-top: 85px;
	list-style-type: none;
  margin-right: 50px;
}

.nav__box{
  width: 80%;
  margin: 0px auto;
}